aiohttp
asyncpg
orjson
prometheus_client
psycopg2-binary
python-dotenv
PyYAML
requests
psycopg2
textual
uvicorn
uvicorn[standard]
fastapi

# GUI dependencies
PySide6
qt-material
qasync
pyqtgraph
pillow
