{
  "BLOCKCHAIR_API_KEY": "",
  "TRONGRID_API_KEY": "",
  "ETHERSCAN_API_KEY": "",
  "QUICKNODE_ETH_HTTP": "",
  "QUICKNODE_ETH_WSS": "",
  "QUICKNODE_TRON_ENDPOINT_1": "",
  "QUICKNODE_TRON_ENDPOINT_2": "",
  "QUICKNODE_BTC_ENDPOINT_1": "",
  "QUICKNODE_BTC_ENDPOINT_2": "",
  "QUICKNODE_ETH_ENDPOINT_1": "",
  "QUICKNODE_ETH_ENDPOINT_2": "",
  "PGHOST": "localhost",
  "PGPORT": "5432",
  "PGUSER": "forensicuser",
  "PGPASSWORD": "",
  "PGDATABASE": "forensic"
}
