# Postgres
PGPASSWORD=REPLACE_ME

# Ethereum
QUICKNODE_ETH_HTTP=https://REPLACE_ME
QUICKNODE_ETH_WSS=wss://REPLACE_ME
QUICKNODE_ETH_ENDPOINT_1=https://REPLACE_ME
QUICKNODE_ETH_ENDPOINT_2=https://REPLACE_ME

# Tron
QUICKNODE_TRON_ENDPOINT_1=https://REPLACE_ME
QUICKNODE_TRON_ENDPOINT_2=https://REPLACE_ME

# Bitcoin
QUICKNODE_BTC_ENDPOINT_1=https://REPLACE_ME
QUICKNODE_BTC_ENDPOINT_2=https://REPLACE_ME
